%header.header.noprint{ role: "banner" }  
  %a.title{ href: uri("/"), title: "example.org", rel: "index" }
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/main.css"}
  %script{:type => "text/javascript", :src  => "/assets/scripts/accountsearch.js"}
  = partial :nav
