%table.account-search-results
  -items.each do |item|
    %tr
      %td.account-list
        %div.account
          %table.account-search-results
          %h2
            = item.name
          %div.account-summary.smallText
            %div.account-alt-name
              (#{item.alternateName})
            %div.account-city= item.city
            %div.account-address= item.address
            %div.account-group= item.group
