html, body {
    font-family: "Lucida Sans", Tahoma, Arial, sans-serif;
    font-size: 11px;
}

ol {
    padding: 0px;
}

#environmentBannerserver {
    position: absolute;
    height: 17px;
    top: 41px;
    left: 15px;
    width: 100%;
    z-index: 1;
    font-size: 14px;
    font-weight:bold;
    color: Black;
}

#environmentBanner.thin99,
#environmentBanner.thin01,
#environmentBanner.thin02,
#environmentBanner.thin03,
#environmentBanner.thin04,
#environmentBanner.thin05,
#environmentBanner.thin06,
#environmentBanner.thin07,
#environmentBanner.thin08,
#environmentBanner.thin09,
#environmentBanner.thin10,
#environmentBanner.thin11,
#environmentBanner.thin12,
#environmentBanner.thin13,
#environmentBanner.thin14,
#environmentBanner.full01,
#environmentBanner.full02,
#environmentBanner.full03,
#environmentBanner.full04,
#environmentBanner.UAT,
#environmentBanner.training, 
#environmentBanner.staging, 
#environmentBanner.qa, 
#environmentBanner.dev,
#environmentBanner.support {
    background-repeat: repeat-x;
    border-top: 1px solid #083884;
    border-bottom: 1px solid #083884;
    position: absolute;
    height: 17px;
    top: 39px;
    left: 80px;
    width: 100%;
    z-index: 1;
}
/* background-color matched to the image (otherwise you may see a brief second where the bar isn't colored */
#environmentBanner.training {
    background-image: url('Common/banner/training.png');
    background-color: #21B24A;
}

#environmentBanner.thin04 {
    background-image: url('Common/banner/training1.png');
    background-color: #22B14C;
}

#environmentBanner.thin03 {
    background-image: url('Common/banner/training2.png');
    background-color: #22B14C;
}

#environmentBanner.UAT {
    background-image: url('Common/banner/uat.png');
    background-color: #0026FF;
}

#environmentBanner.full01 {
    background-image: url('Common/banner/uat1.png');
    background-color: #0026FF;
}

#environmentBanner.full03 {
    background-image: url('Common/banner/uat2.png');
    background-color: #0026FF;
}

#environmentBanner.staging {
    background-image: url('Common/banner/staging.png');
    background-color: #EF1C21;
}

#environmentBanner.full02 {
    background-image: url('Common/banner/preprod.png');
    background-color: #FF9A00;
}

#environmentBanner.qa {
    background-image: url('Common/banner/qa2.png');
    background-color: #8C0010;
}

#environmentBanner.thin09 {
    background-image: url('Common/banner/ist_es.png');
    background-color: #8C0010;
}

#environmentBanner.thin10 {
    background-image: url('Common/banner/ist_gb.png');
    background-color: #8C0010;
}

#environmentBanner.thin14 {
    background-image: url('Common/banner/ist_aa.png');
    background-color: #8C0010;
}

#environmentBanner.thin01,
#environmentBanner.thin02,
#environmentBanner.thin05,
#environmentBanner.thin06,
#environmentBanner.thin08,
#environmentBanner.thin11,
#environmentBanner.thin13,
#environmentBanner.dev {
    background-image: url('Common/banner/development.png');
    background-color: #000;
}

#environmentBanner.full04,
#environmentBanner.support {
    background-image: url('Common/banner/support.png');
    background-color: #FF9A00;
}


/*----------------------------------------------------------------------------------------------------
 Containers for the entire site layout (minus the nav stuff)
----------------------------------------------------------------------------------------------------*/
.default-master-container {
    padding: 0px;
    width: 99.5%;
    overflow: auto;
    white-space: nowrap;
    display: table;
}

/* left navigation container begin */
.left-nav-container {
    padding-left: 5px;
}

.default-master-container .left-nav-container {
	display:table-cell;
    vertical-align: top;
	width:120px;
    min-width: 120px;
    white-space: nowrap;
}
/* left navigation container end */

/* task container begin */
.task-container {
	display:table;
    min-width: 200px;
}

.default-master-container .task-container {
    white-space: normal;	
    vertical-align: top;
    padding: 5px;
    width: 100%;
}
/* task container end */


/*notifications begin*/
.notifications {
    width: 25%;
    vertical-align: middle; 
    padding: 4px 0px 0px 10px;
    font-size: 10px;
}

.notifications span {
    display: block;
}

 #notificationDiv {
    padding-top: 3px;
}
        
/*notifications end*/

/*account/submission info begin*/
.sidebar-content div[id*="divAccountSubmissionInfo"]{
    display: none;
    background-color: transparent;
    width: 100%;
}
.sidebar-content div[id*="divAccountSubmissionInfo"].border-gray-light {
    border-bottom-style: solid;
}
.account-submission-info {
    display: table;
    width: 1200px;
    table-layout: auto;
}
.account-submission-info-header {
    color: #080808;
    font-weight: bold;
}
.account-submission-info > div {
    font-size: 10px;
    padding: 12px 20px 12px 20px;
    display: table-cell;
    width: 180px;
}
/*account/submission info end*/

/* handles padding so you don't deal with UI movement when the validation image pops up*/
#validation-error {
    width: 17px;
    height: 17px;
    display: inline-block;
}
/***************************************************************************************************
    Padding for the master pages
***************************************************************************************************/
.default-master-container .sidebar-content {
    background-color: transparent; /*pink;*/
    margin: 25px 0 0 0px;
}

.default-master-container #content-container {
    margin: 0 25px 0 25px;
    min-height: 800px;
    min-width: 800px;
}

/***************************************************************************************************/
/* Here we deal with all the exceptions that occur from applying margins above                     */
.default-master-container .sidebar-content #divParameters,
.default-master-container .sidebar-content #action-table,
.default-master-container .sidebar-content .breadcrumb-bar,
.default-master-container .sidebar-content .breadcrumb-bar-title,
.default-master-container .sidebar-content div[id*="divAccountSubmissionInfo"] {
    margin-left: -25px;
    margin-right: -30px;
    padding-right: 55px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.default-master-container .sidebar-content #divParameters,
.default-master-container .sidebar-content .breadcrumb-bar-title,
.default-master-container .sidebar-content .breadcrumb-bar {
    margin-top: -25px;
}
.default-master-container .sidebar-content #divParameters {
    padding-left: 20px;
    padding-right: 20px;
}

/* only if breadcrumb-bar-title appears on the page with a breakcrumb-bar should we increase the margin */
.default-master-container .sidebar-content .breadcrumb-bar ~ #action-container .breadcrumb-bar-title {
    margin-right: -50px;
}
/***************************************************************************************************/

.default-master-container .sidebar-content .account-search-results {
/*    background-color: chocolate; 
    margin: 0 5px 0 5px;
*/
}

.default-master-container .task-container {
    /*    background-color: red; */
    padding: 0 5px;
}

.default-master-container .sidebar-content #action-container {
    /*    background-color: blueviolet; */
    margin: 25px -25px 0 0;
    /* stuff from tbl class */
    white-space: nowrap;
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.default-master-container .sidebar-content #action-content {
    /*    background-color: orange; */
    margin: 5px;
    padding-right: 20px;
    /* stuff from col class */
    display: table-cell;
    vertical-align: top;
    white-space: normal;
}

.default-master-container .sidebar-content #action-task {
    width: 300px;
    padding: 0 10px;
    /* matches col class */
    display: table-cell;
    vertical-align: top;
    white-space: normal;
}

.default-master-container .sidebar-content #tab-container {
    /*    background-color: greenyellow; */
    margin: 0 10px 0 0;
}

.button-default-width,
.button-default-width .rbDecorated {
    width: 110px;
}

/*----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/

.save-panel {
    white-space: nowrap;
    text-align: right;
    margin-top: 20px;
}

/* form field layouts begin */
.content-form {
    padding: 10px;
    height: 100%;
}
/* used in Popup.master */
.popup-container {
    /* bumped top to allow for the single/rolled-up view of the validation summary */
    padding: 10px;
    height: 100%;
    position: relative;
}

.tbl {
    white-space: normal;
    display: table;
    border-collapse: collapse;
}
.row {
    display: table-row;
}

.col {
    display: table-cell;
    vertical-align: top;
    white-space: normal;
}

.two-column-left-popup, 
.two-column-right-popup {
    width: 340px;
}
.two-column-left-popup {
    float: left;
}
.two-column-right-popup {
    float: right;
}

/* this is for the default two-column-left/right */
.content-form {
    min-width: 850px;
    max-width: 850px;
}

.two-column-left, 
.two-column-right {
    width: 415px;
    display: table-cell;
    vertical-align: top;
}

/* setup the label control within a form-field 
    override in page to set width etc.
*/
/* align all elements to middle */
.form-field *, 
.form-field-right *, 
.form-field-left *, 
.form-field-address {
    vertical-align: middle;
}

/* common for both left-right containers */
.form-field-right, 
.form-field-left, 
.form-field-address {
    width: auto;
    padding: 1px;
}
/* specific left-right containers */
.form-field-right, 
.form-field-address {
    /*
    padding-right: 9px;
*/
}
.form-field-left {
    /*
    padding-left: 9px;
*/
}
/* common for both left-right LABELS */
.form-field label, 
.form-field-right label, 
.form-field-left label, 
.form-field-address label {
    font-family: Tahoma, Arial, sans-serif;
    display: inline-block;
    width: auto;
    font-size: 11px;
    color: #080808;
}

#filter-container .form-field label, 
#filter-container .form-field-right label, 
#filter-container .form-field-left label, 
#filter-container .form-field-address label {
    font-weight: normal;
}

/* specific for left-right LABELS*/
.form-field label {
    padding-right: 2px;
}
.form-field-right label, 
.form-field-address label {
    padding-right: 2px;
    text-align: right;
}
.form-field-left label {
    padding-left: 0px;
    text-align: left;
}

/* corrects issues with form-field overriding all labels */
span.radio-button-right label,
span.radio-button-left label {
    width: auto;
    padding-left: 5px;
    text-align: left;
    color: #080808;
}
span.radio-button-right label {
    padding-right: 5px;
    text-align: right;
}
.radio-button-list-right label,
.radio-button-list-left label {
    width: auto;
    padding-left: 5px;
    text-align: left;
    color: #080808;
}
.radio-button-list-right label {
    padding-right: 5px;
    text-align: right;
}

/* form field layouts end */

/* used for debugging */
.box {
    border: 1px solid black;
}
/* used for debugging */

.block {
    display: block !important;
}
.align-bottom {
    vertical-align: bottom !important;
}
.align-top {
    vertical-align: top !important;
}
.display-none {
    display: none;
}
.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

img {
    border: 0;
    vertical-align: middle;
}

/* ValidationSummary and error messages begin */
.validation-summary {
    top: 45px;
    z-index: 25;
    
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px; /* must be 1/2 of the width */

    padding: 0px;
    border: 1px solid #8C8A8C;
    background-color: #fff;
    font-size: 12px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #666;
    behavior: url('/includes/behaviors/PIE.htc');
}

.validation-header {
    margin: 0;
    padding: 3px;

    position: relative;
    font-size: 12px;
    color: #080808;
    line-height: 17px;
    font-weight: bold;
    background-color: transparent;
    background: transparent url('Common/images/exclamation-red.png') no-repeat 5px 4px;
    display: block;
    cursor: pointer;
}

.validation-header span{
    width: auto;
    padding-left: 25px;
}

.validation-header hr{
    line-height: 1px;
}
.validation-summary ul {
    margin: 20px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    font-size: 11px;
    color: #080808;
   /* color: #A51010; 
    font-style: italic;*/
}
.validation-summary ul li {
    padding: 2px 0px 0px 15px;
    margin: 0px 0px 0px 10px;
    background:transparent url('Common/images/bullet_black.png') no-repeat 0px 1px;
}
/* ValidationSummary and error messages end */


/*layouts*/
.data-container /*div for putting around sections displaying data*/ {
    padding: 5px;
    border: 1px #ccc;
}

.table-standard td {
    padding:3px
}

/*end layouts*/

/*headers and texts*/
h1, h2, h3 {
    margin: 0px;
    padding: 0 0 5px 0;
    color: #080808 ; /* straight out of fireworks #212121; current color came from ClickDummy (not sure which is better) CC */
    font-weight: normal;
}

h1 {
    font-size: 19px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 12px;
}


.selected {
    color: #0060c1; 
}

.smallText {
    font-size: 9px;
}
/*end headers and texts*/

/* anchor tags: per email 11/26/2012 */
/* Outside of tables / grids, links should be dark gray and underlined.  Hover should remove underline */
a {
    color: #555; 
    text-decoration: underline;
}
a:hover {
    color: #555; 
    text-decoration: none;
}
a.help {
    color: inherit;
    cursor: help;
    text-decoration: none;
}
a.help:hover {
    cursor: help;
    text-decoration: none;
}
/* In tables / grids, links should be blue; hover remains the same; hover underline */
div.RadGrid_SMBusiness .hover-link {
    color: #2d6891; 
    text-decoration: none;
}

div.RadGrid_SMBusiness .hover-link:hover {
    color: #2d6891 !important; 
    text-decoration: underline;
}
/* Linked headers should be light blue.  Hover should be darker blue. */
h1 a,
a h1,
h2 a,
a h2,
h3 a,
a h3 {
    color: #0060c1; /* straight out of fireworks; CC*/
    text-decoration: none;
}

h1 a:hover,
a:hover h1,
h2 a:hover,
a:hover h2,
h3 a:hover,
a:hover h3 {
    color: #2d6891;
    text-decoration: underline;
}
h1 a:hover,
a:hover h1 {
    text-decoration: underline;
    color: #0060c1; /* straight out of fireworks; CC*/
}
/*end basic tags*/

/*colors*/
.background-gray {
    background-color: #F7F7F7;
}

.background-gray-dark {
    background-color: #DDD;
}

.dark-blue {
    color: #0060c1;
}

.hover-link {
    text-decoration: none;
    cursor: pointer;
}
.hover-link :hover {
    text-decoration: underline;
}

/* RadTreeView class overrides */
.tvCompactNodes.RadTreeView {
    line-height: 12px;
    height: 200px;
}
.tvCompactNodes.RadTreeView .rtSp {
    height: 12px;
}
.tvCompactNodes.RadTreeView .rtHover .rtIn,
.tvCompactNodes.RadTreeView .rtSelected .rtIn {
    padding: 0px 1px 0px;
}
.tvCompactNodes.RadTreeView .rtIn {
    padding: 1px 2px 1px;
    vertical-align: bottom;
}
.tvCompactNodes.RadTreeView .rtChk {
    height: 10px;
}

/*
    RadListBox
    DatePicker
    RadComboBox
    RadInput controls (textbox etc.)
    RadioButtonList & CheckBoxList (rendered as controls within tables)
    Standard SELECT and INPUT (text only) controls
*/
.RadListBox.required .rlbGroup,
.RadPicker.required input.riTextBox, 
.RadComboBox.required input.rcbInput, 
.RadAutoCompleteBox.required .racTokenList,
table.required td,
select.required,
input[type="text"].required {
    background-color: #FFFACD;
}
/* reset to default if disabled */
.RadComboBox.required .rcbDisabled input.rcbInput {
    background-color: transparent;
}

/*  You can't just apply this and see anything, you must override in your page to show the border where you want it:
--to show a border all the way around 
    .border-gray{
        border-style: solid; 
    }
--to show individual sides
    .border-gray{
        border-bottom-style: solid; 
        border-right-style: solid;
    }
*/
.border-gray {
    border: 1px #B8B8B8; /* straight out of fireworks; CC */
}

hr {
    clear: both;
    border-style: none;
    border-bottom: solid 1px #B8B8B8; /* straight out of fireworks; CC */
}

.border-gray-light {
    border: 1px #ddd; 
}
.text-right
{
    text-align:right; 
}

.notification {
    color: red;
}

.red {
    color: red;
}
/*end colors*/

/* this should only affect labels shown after a checkbox */
input[type="checkbox"] ~ label {
    padding-left: 5px;
}
.hide {
    display: none;
}

.printme {
    /* this is just here for intellisense 
        see: /includes/js/print.helper.js */
}

.CalendarPopupImage {
    vertical-align: middle;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* Legacy css to format dates in plain textboxes 
    DO NOT USE WITH TELERIK DATE PICKER CONTROLS! */
.auto-format-date {
    behavior:url(/Includes/behaviors/dateformat.htc);
}

/* Puts space in between text and checkbox*/
.rbPrimaryIcon.rbToggleCheckbox,
.rbPrimaryIcon.rbToggleCheckboxChecked {
    left: 0 !important;
    padding-right: 3px !important;
}